$gutter:30px;
$grid-sm: 767;
$mobile: 767px;
$grids: 12;
$primary-color: #FFFFFF;
$btn-color: #B88E2F;
$primary-heading-color:#B88E2F;
$text-color:#333333;
$description-text-color:#666666;
$discount-color:#E97171;
$new-product:#2EC1AC;
$brand-color:#FCF8F3;
$img-path: "../images" !default;
